* {
  box-sizing: border-box;
}

body {
  margin : 0; 
  background-image: url("./images/background-black.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  min-height : 100vh; 
  color : white; 
  font-weight: bolder;
  font-family : 'NanumSquare', sans-serif;
}

.main-container {
  border : 1px solid white; 
  background-color: #323232; 
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position : absolute ; 
  top : 50%;
  left : 50%;
  transform : translate(-50%, -50%);
  padding : 30px;  
  width : 80vw; 
  min-height : 80vh;  
  border-radius : 20px; 
}

h1 {
  margin : 0 0 30px; 
}

.input-area {
  position : relative; 
  margin : 0 0 20px; 
  height : 1.5rem; 
  display : flex; 
}

.input-area button {
  margin : 0 5px;
  color : white; 
  background-color: transparent;
  border : none; 
  height : 100%; 
}

.input-area button:hover {
  transform: scale(1.1);
}

.input-area input {
  width : 60% ; 
  border : none;
  padding : 0 0 0 10px; 
  flex-grow: 1;
  box-sizing : border-box ; 
  height : 100%; 
}

#add-button {
  margin-left : 10px; 
}

.tab-area {
  display : flex; 
  justify-content: space-around;
  border : 1px solid white; 
  position : relative
}

.tab-area div {
  cursor: pointer;
}

.tab-task-area {
  margin : 20px 0 0; 
}

.task {
  display : flex;
  justify-content: space-between;
  padding : 0.5rem; 
  border-bottom: 1px solid white;
}

#under-line {
  height : 3px;
  background-color: snow;
  position: absolute;
  width : 33%; 
  left : 0px; 
  top: 22px; 
  padding : 0px; 
}

/* 모바일 */
@media screen and (max-width : 480px){
  body {
    font-size : 10px; 
  }

  #under-line {
    top : 21px; 
    height : 1.5px;
    background-color: snow; 
    position: absolute;
    width : 33%; 
    top: 13px; 
  }
}

.task-done {
  text-decoration : line-through; 
}

.task-grey {
  background-color : grey; 
  display : flex;
  justify-content: space-between;
  padding : 0.5rem; 
  border-bottom: 1px solid white;
}

.done-button {
  background : transparent; 
  color : white; 
  border : none
}

.delete-button {
  background : transparent; 
  color : white; 
  border : none
}

